.form__create {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font: inherit;
  padding: 1.2em;
  margin: 0 auto;
  background: var(--light-blue-alpha);
  border-radius: 8px;
  border: 1px solid blue;
  color: blue;
}

.form__div {
  width: 90%;
  display: flex;
  gap: 1.4em;
  align-items: center;
  justify-content: center;
}

.form__div > label,
.form__div label > input {
  width: 100%;
  border: none;
}

.form__label,
.form__input {
  width: 90%;
}

.form__input,
.select__categoria,
.select__tipo {
  padding: .4em;
  border: none;
  border-radius: 4px;
  margin-bottom: .6em;
  outline: none;
}
.select__categoria,
.select__tipo {
  width: 100%;
}

.imagen__div {
  width: 90%;
  text-align: center;
}

.label__imagen {
  display: block;
  margin-top: .4em;
  padding: .3em 1.2em;
  border: none;
  border-radius: 4px;
  background: #bdc2e8;
  width: 100%;
}

.input__imagen {
  display: none;
}

.preview {
  margin-top: .4em;
  max-width: 120px;
  border-radius: 6px;
}

.form__btn {
  padding: .6em;
  color: blue;
  font-weight: 600;
  background: var(--green);
  border: none;
  border-radius: 4px;
}

.buttons__div {
  display: flex;
  align-items: center;
  gap: 1em;
  /* margin: .6em 0; */
  margin-top: 1.4em;
}

@media (width < 600px) {
  .form__div {
    flex-direction: column;
    gap: 0;
  }
  .buttons__div {
    width: 100%;
    flex-direction: column;
  }
  .form__btn {
    width: 90%;
  }
}