.list__documents {
  padding: .4em 4em;
  margin: 1em 0;
}

.documentlist__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .6em 1em;
  /* background: var(--gray); */
  background: var(--green);
  color: blue;
}

.documentlist__link {
  text-decoration: none;
  background: var(--light-blue);
  padding: .3em .8em;
  border-radius: 4px;
  color: blue;
  font-weight: 600;
  text-align: center;
}

.documentslist {
  list-style: none;
  background: var(--light-blue-alpha);
  padding: 1em 1em;
}

.documentslist__item {
  color: blue;
  display: grid;
  grid-template-columns: auto max-content;
  grid-template-areas: "detalles enlace";
  align-items: center;
  justify-content: space-between;
}

.item__title {
  color: blue;
  font-weight: 600;
  grid-area: detalles;
}

.item__description {
  color: blue;
  opacity: .8;
  font-weight: 300;
  font-size: 16px;
}

.item__details {
  grid-area: enlace;
  text-align: center;
  padding: .4em .6em;
  background: var(--light-blue);
  border: none;
  border-radius: 6px;
  color: blue;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  margin-left: 1em;
}

@media (width < 750px) {
  .documentlist__title {
    font-size: 20px;
    text-align: center;
  }
  .item__title {
    font-size: 16px;
  }
  .item__description {
    font-size: 14px;
  }
}

@media (width < 460px) {
  .documentslist__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .documentlist__header {
    flex-direction: column;
    gap: .6em;
  }
  .item__title,
  .item__details,
  .item__description {
    width: 90%;
    text-align: center;
  }
  .item__details {
    margin-top: .8em;
  }
}