.form__register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register__div {
  width: 85%;
  display: flex;
  gap: .4em;
}

.register__div--first {
  margin-top: 1.2em;
}

.register__input{
  width: 85%;
  padding: .4em;
  border: none;
  margin-bottom: .8em;
  border-radius: 4px;
  font: inherit;
}

.register__btn {
  width: 85%;
  padding: .8em .8em;
  margin: .6em 0;
}
