.list__users {
  padding: .4em 4em;
  margin: 1em 0;
}

.userslist__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .6em 1em;
  /* background: var(--gray); */
  background: var(--green);
  color: blue;
}

.userslist__link {
  text-decoration: none;
  text-align: center;
  background: var(--light-blue);
  padding: .3em .8em;
  border-radius: 4px;
  color: blue;
  font-weight: 600;
}

.userslist {
  padding: .3em 0;
  list-style: none;
  background: var(--light-blue-alpha);
  padding: .6em 1em;
}

.userslist__item {
  line-height: 1.4em;
}

.userslist__detail > strong {
  color: blue;
}

.userslist__data {
  border-bottom: none;
  opacity: .8;
  font-weight: 300;
}

@media (width < 750px) {
  .userslist__title {
    font-size: 20px;
    text-align: center;
  }
  .userslist__detail {
    width: 60%;
    margin-bottom: .4em;
    font-size: 16px;
  }
}

@media (width < 460px) {
  .userslist__header {
    flex-direction: column;
    gap: .6em;
  }
}