.home {
  padding: 80px 4em;
}

.welcome {
  color: blue;
  text-align: center;
  font-size: 2.4em;
  font-weight: 600;
  margin-bottom: 1.4em;
}

.title {
  color: blue;
  text-align: center;
  font-weight: 400;
}

.content {
  display: grid;
  grid-template-columns: 1fr 18%;
  align-items: center;
}

.sesion {
  padding: 0.5em;
  text-decoration: none;
  background: var(--light-blue-alpha);
  color: blue;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.title__container {
  margin-bottom: 2em;
}

.records {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.records__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.record__items {
  margin: 0 auto;
  background: var(--light-blue-alpha);
  border-radius: 4px;
  border: 1px solid blue;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  min-width: 240px;
}

.record__items > img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 1.2em;
}

.record__info {
  margin-bottom: 1.2em;
}

.record__title {
  margin: .4em 0;
  color: blue;
  font-weight: 600;
}

.record__description {
  margin-bottom: .2em;
  color: blue;
  font-size: 16px;
  font-weight: 400;
  opacity: .8;
}