* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
  --light-blue: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  --green: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  --light-blue-alpha: linear-gradient(to top, rgba(0, 198, 251, 0.5) 0%, rgba(0, 91, 234, 0.5) 100%);
}

body {
  font-size: 20px;

}

.navbar {
  background: var(--green);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .8em 4em;
}

.navbar__brand {
  color: blue;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.navbar__brand:hover {
  border-bottom-color: var(--light-blue);
}

.navbar__items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.navbar__link {
  color: blue;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.navbar__link:hover {
  border-bottom-color: var(--light-blue);
}