.documents__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  background: var(--light-blue-alpha);
  border-top: 1px solid #0008;
}

.document__item {
  width: 100%;
  text-align: center;
  text-decoration: none;
  list-style: none;
  padding: .6em 0;
  border-bottom: 1px solid #0008;
  color: blue;
  font-weight: 400;
  opacity: .8;
}

.document__title {
  text-decoration: none;
}