* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
  --light-blue: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  --green: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  --light-blue-alpha: linear-gradient(to top, rgba(0, 198, 251, 0.5) 0%, rgba(0, 91, 234, 0.5) 100%);
}

body {
  background: #bdc2e8;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-top: 4em;
}

.navbar__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #07f013;
}