.purchase__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.purchase__info {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.purchase__title {
  text-align: center;
  color: blue;
  font-weight: 600;
  margin: 1.4em 0 .3em;
}

.purchase__description {
  color: blue;
  font-weight: 400;
  opacity: .8;
  margin-bottom: .3em;
  text-align: left;
}

.purchase__info {
  margin-bottom: .2em;
}

@media screen and (max-width: 600px) {
  .purchase__info {
    width: 70%;
  }

  .purchase__description {
    font-size: 16px;
    margin-bottom: .5em;
  }
}
