.card__container {
  padding: 60px 3em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  margin: .8em auto;
  gap: 4em;
  align-items: center;
  justify-content: center;
}